<div class="row">
    <div class="container col-md-7">
    <img class="img-responsive boundingBox mainImage" src="assets/images/Craig_photo_spaceman.jpg">
    <div class="overlayText centered">
      <div class="splashTitle">
          <p>A<br>Global<br>Good<br>Morning</p>
          <p class="splashText">A good morning is anything you say<br>to greet your day. It's the first greeting.</p>
      </div>
    </div>
  </div>
  <div class="col-md-5 topRightBoxes">
    <div>
      <app-ngbd-carousel-basic></app-ngbd-carousel-basic>
    </div>
    <div class="topRightBoxes lowerBox">
      <p class="lowerPadding">I want<br> to add<br> my own<br> personal<br> good <br>morning.</p>
      <a>Link to Something</a>
    </div>
  </div>
  </div>
  <div class="row inputColumns" >
    <div class="col-md-4 sectionHeight inputColumns" *ngFor="let field of inputFields">
      <p class="step">STEP</p>
      <div class="circleText">
        <p>{{field.step}}</p>
      </div>
      <p class="instructions">{{field.prompt}}</p>
      <img class="icon img-responsive" src={{field.svg}}>
      <div class="location" *ngIf="field.step === 1">
        <ng4geo-autocomplete  (componentCallback)="autoCompleteCallback($event)"></ng4geo-autocomplete>'
      </div>
      <div class="time" *ngIf="field.step === 2">
        <app-time-picker></app-time-picker>
      </div>
      <div class="audio">

      </div>
      <!-- <app-input-sections *ngFor="let field of inputFields"
        (locationEvent)="getLocation($event)"
        [prompt]="field.prompt"
      > 
      </app-input-sections> -->
    </div>
  </div>




 <!-- <div class="col-md-4 sectionHeight inputColumns">
      <app-input-sections 
        (timeEvent)="getTime($event)"
        [timePrompt]
        >
      </app-input-sections>
    </div>
    <div class="col-md-4 sectionHeight inputColumns">
      <app-input-sections 
        (recordingEvent)="getRecording($event)"
        [recordingPrompt]
        > -->

      <!-- </app-input-sections>
      </div> -->
    <div class="container col-md-12">
      <img class="img-responsive boundingBox mainImage" src="assets/images/CraigD-image-email.jpg">
      <div class="overlayNoBorder centered">
            <div class="normalTitle">
              <p>Thank You and Good Morning</p>
              <p class="splashText">A good morning is anything you say<br>to greet your day. It's the first greeting.</p>
            </div>
          </div>
        </div>
  <div class="row" (click)="toggleAbout()">
    <div class="col-md-6 sectionHeight normalTitle about">
      <p>About</p>
      <p>The</p>
      <p>Project</p>
    </div>
    <div class="col-md-6 sectionHeight about">
      <p class="about">{{lowerText}}</p>
    </div>
  </div>