.boundingBox{
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0px !important;
}   
.container {
    position: relative;
    text-align: center;
    color: white;
    padding-right: 0px !important;
}
.overlayText {
    position: absolute;
    color:white;
    text-align: left;
    width: 75%;
    height: 75%;
    border: solid;
    border-width: 1.5em;
}
.overlayNoBorder {
    position: absolute;
    color:white;
    text-align: left;
    width: 75%;
    height: 75%;
    text-transform: none;
}
.splashTitle {
    font-size: 4em;
    font-weight: bolder;
    padding-left: 20%;
    padding-top: 10%;
    text-transform: uppercase;
}
.normalTitle {
        font-size: 4em;
        font-weight: bolder;
        padding-left: 20%;
        padding-top: 10%;
        /* text-transform: none; */
}
.splashText {
    font-size: .25em;
    font-weight: normal;
    text-transform: none;
}
.topRightBoxes {
    text-align: left;
    height: 50%;
    width:100%;
    padding: 0px !important;
}
.lowerBox {
    height: 100%;
    text-align: left;
    vertical-align: middle;
    padding-left:15%;
}
.lowerPadding { 
    padding-left:15%;
    padding-top:15%;
    font-size: 1.25em;
}
.sectionHeight {
    height: 1080px;
    min-height:400px;
    background-color: black;
    color:white;
}
.inputColumns {
    background-color: black;
    color:white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
}
.mainImage {
    height: 100%;
}
.circleText {
    border-radius: 50%;
    border-color: white;
    border-width: 1px;
}
.inputColumns {
    positiong:relative;
    /* border-right: solid 2px white; */
}
.inputColumns: after {
    /* positiong:relative; */
    /* border-right: solid 2px white; */
    content: '';
    height: 100%; 
    width: 1px;
    position: absolute;
    right: 0;
    top: 0; 
    background-color: #000000;  
}

.about {
    background-color: white;
    color: black;
}