<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Random first slide">
      <div class="carousel-caption">
        <p class="bigText">Hi</p>
        <p class="normalText">{{slideshowText[0].display}}</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide">
      <div class="carousel-caption">
        <p class="normalText">{{slideshowText[1].display}}</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" alt="Random third slide">
      <div class="carousel-caption">
        <p class="normalText">{{slideshowText[2].display}}</p>
      </div>
    </ng-template>
  </ngb-carousel>