.boundingBox{
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0px !important;
}   
.container {
    position: relative;
    text-align: center;
    color: white;
    padding-right: 0px !important;
}
.overlayText {
    position: absolute;
    color:white;
    text-align: left;
    width: 75%;
    height: 75%;
    border: solid;
    border-width: 10px;
}
.splashTitle {
    font-size: 4em;
    font-weight: bolder;
    padding-left: 20%;
    padding-top: 10%;
    text-transform: uppercase;
}
.splashText {
    font-size: .25em;
    font-weight: normal;
    text-transform: none;
}
.topRightBoxes {
    height: 50%;
    width:100%;
    padding: 0px !important;
}
.lowerBox {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;  
}
.sectionHeight {
    min-height:400px;
    background-color: black;
    color:white;
}
.inputColumns {
    background-color: black;
    color:white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
}
.mainImage {
    height: 100%;
}