<div class="row">
  <!-- <div class="boundingBox col-md-6"> -->
    <div class="container col-md-7">
    <img class="img-responsive boundingBox mainImage" src="assets/images/Craig_photo_spaceman.jpg">
    <div class="overlayText centered">
      <div class="splashTitle">
          <p>A<br>Global<br>Good<br>Morning</p>
          <p class="splashText">A good morning is anything you say<br>to greet your day. It's the first greeting.</p>
      </div>
    </div>
  </div>
  <div class="col-md-5 topRightBoxes">
    <div>
      <img class="img-responsive topRightBoxes" src="assets/images/CraigD-Image-TopRight.jpg">
    </div>
    <div class="topRightBoxes">
      <p class="lowerBox">I want to add my own personal good morning.</p>
      <a>Link to Something</a>
    </div>
  </div>
  <div class="row inputColumns">
      <div class="col-md-4 sectionHeight">Country</div>
      <div class="col-md-4 sectionHeight">Time</div>
      <div class="col-md-4 sectionHeight">Record/Submit</div>
      <div class="col-md-12 sectionHeight boundingBox">Thank You and Good Morning</div>
      <div class="col-md-6 sectionHeight">
        <p>About</p>
        <p>The</p>
        <p>Project</p>
      </div>
      <div class="col-md-6 sectionHeight">
        <p>Global Good Mornings is a project by Craig Damrauer. You can look at more of my work at Assorted Bits of Wisdom.

            This project is an outgrowth of something I’ve been pondering for a while. I’m interested in whether I can make something that helps a viewer viscerally intuit the turning of the earth.
            
            I think a really interesting way to do this is to through people. At every moment on earth someone is waking up and headed into the day ahead. If there’s a way to capture these voices there might be a way to allow us to feel the day’s progress as the earth turns.
            
            It’s going to need multiple sets of voices from every timezone in the world. I’d love it to represent the young, the old and everybody in between. I’d love it to represent different languages, different points of view, different modes of waking up.
            
            Drop a line, if you want to talk about this, have ideas or just want to be kept up to date with the progress.
            
            GlobalGoodMorning @ gmail.com</p>
      </div>
  </div>